<div class="col-md-3 col-lg-2 sidebar bg-light p-0">
    <div class="sidebar-sticky pt-3">
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action active">
                <i class="bi bi-person-fill me-2"></i> Thông tin tài khoản
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <i class="bi bi-ticket-detailed-fill me-2"></i> Lịch sử mua vé
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <i class="bi bi-geo-alt-fill me-2"></i> Địa chỉ của bạn
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <i class="bi bi-shield-lock-fill me-2"></i> Đặt lại mật khẩu
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <i class="bi bi-box-arrow-right me-2"></i> Đăng xuất
            </a>
        </div>
    </div>
</div>
